.DS_Store
*.swp
Gemfile.lock
tmp/
.vagrant/
puppet/.tmp
puppet/.librarian
puppet/Puppetfile.lock
puppet/modules/firewall
puppet/modules/lvm
puppet/modules/selinux
puppet/modules/stdlib
puppet/modules/systemd

#Postgresql
puppet/modules/postgresql
puppet/modules/apt
puppet/modules/concat
puppet/modules/translate

#CORE
puppet/modules/core

#Puppetserver
puppet/modules/puppetserver_gem
puppet/modules/puppetserver
puppet/modules/augeasproviders_core
puppet/modules/augeas

#puppetdb
puppet/modules/puppetdb
puppet/modules/inifile

#hiera
puppet/modules/hiera

#handlieding allard
allard/
